In [2]:
import pandas as pd

In [14]:
unlabeled = pd.read_csv("/home/amio/Downloads/test_samples_50k.csv")
labels = pd.read_csv("/home/amio/Downloads/predicted.csv")

unlabeled.head()

   id                      homepage_url
0   0              http://geeworld.com/
1   1             https://tengaged.com/
2   2                https://vereo.com/
3   3       http://cleartechnology.com/
4   4  http://citysightseeingtours.com/

In [15]:
labels.head()

     id probability prediction
0  9999    upcoming   negetive
1  9998    upcoming   negetive
2  9997    upcoming   negetive
3  9996    upcoming   negetive
4  9995    upcoming   negetive

In [16]:
labels = labels.dropna(axis=1)
merged = unlabeled.merge(labels, on='id')
#merged.to_csv("output.csv", index=False)

In [17]:
merged.to_csv("labeled_output.csv", index=False)